<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>七牛云盘后台</title>
    <meta name="description" content="云盘管理">
    <meta name="keywords" content="gallery">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__AMAZE__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__AMAZE__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__AMAZE__/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__AMAZE__/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，云盘 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>七牛云盘</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="{:url('index/Login/quit')}"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>项目开发中。—— dingdayu</p>
                </div>
            </div>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-tag"></span> wiki</p>
                    <p>七牛个人云盘!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="admin-content-body" id="container">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf" id="dir">
                    <strong class="am-text-primary am-text-lg">相册</strong> / <small>Gallery</small>
                </div>
            </div>

            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf" id="update">
                    <button type="button" id="pickfiles" class="am-btn am-btn-primary" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">上传文件</button>
                </div>
            </div>


            <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">文件上传中
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        Modal 内容。本 Modal 无法通过遮罩层关闭。
                    </div>
                </div>
            </div>

            <hr>

            <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
            </ul>

            <div class="am-margin am-cf am-hide">
                <hr/>
                <p class="am-fl">共 15 条记录</p>
                <ol class="am-pagination am-fr">
                    <li class="am-disabled"><a href="#">&laquo;</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ol>
            </div>
        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2016 dingdayu.</p>
        </footer>

    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 dingdayu.</p>
</footer>

<!--[if lt IE 9]>
<script src="__JQUERY__/1.12.4/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__AMAZE__/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__JQUERY__/2.2.4/jquery.min.js"></script>
<!--<![endif]-->
<script src="__AMAZE__/js/amazeui.min.js"></script>
<script src="__AMAZE__/js/app.js"></script>


<script type="application/javascript">
    var Location = '/';
    var domain = '{:config("qiniu.domain")}';

    $(function(){
        getFiles(Location);
    });

    function getFiles(dir){
        $.get("{:url('User/Index/lists')}?dir="+dir,function(data,status){
            if(data.code = 200){
                initView(data.data);
                initDir(data.dir);
                Location = data.dir;
                //console.log(Location);
            }
        },'json');
    }

    function initView(data){
        var html = '';
        for(var item in data) {
            //console.log(data[item]);
            html += '<li><a href="#"><img class="am-img-thumbnail am-img-bdrs" src="'+ data[item].icon +'" alt="" data-key="'+data[item].name +'"';
            if(data[item].mimeType == 'directory'){
                html += 'onclick="getFiles(\''+ data[item].name +'\')"';
            }
            html += '/><div class="gallery-title">'+ data[item].name+'</div><div class="gallery-desc">'+ data[item].last_time+'</div></a></li>';
        }
        $('.gallery-list').html(html);
    }

    function initDir(dir){
        if('/' == dir){
            $('#dir strong').text('首页');
            $('#dir small').text('/');
        } else {
            var dir_arr = dir.split('/');
            $('#dir strong').text(dir_arr[dir_arr.length - 1]);
//            $('#dir small').text(dir_arr[dir_arr.length - 2]);
            $('#dir small').text('');
            for (i=0;i<dir_arr.length;i++){
                $('#dir small').append(dir_arr[i] + '/');
            }
        }


    }
</script>


<script src="__STATIC__/plupload/js/plupload.full.min.js"></script>
<script src="__STATIC__/qiniu/dist/qiniu.min.js"></script>
<script src="__STATIC__/project/qiniu-upload.js"></script>
</body>
</html>
